@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body a {
    color: inherit;
    text-decoration: none;
}

body li {
    list-style: none;
}

body a:hover {
    text-decoration: underline dashed;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    background-color: #000;
    color: #ddd;
    font-size: 1.7rem;
    font-weight: bold;
}

/* --scroll bar start-- */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to left bottom, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
}

::selection{
    background-color: #ff60b5;
}  

a::selection{
    color:#dddddd99;
}

/* --scroll bar end-- */

.skip-link {
    position: absolute;
    color: #fff;
    display: none;
}

header {
    background-color: #000;
    color: #fff;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none;
}

header::after, header::before {
    content: '';
    position: absolute;
    width: 100vh;
    height: 100vh;
    border-radius: 1rem;
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
    overflow-y: hidden;
    animation: open-aft 1.2s 1 forwards ease-in-out;
}

header::before {
    animation: open-bef 1.2s 1 forwards ease-in-out;
}

@keyframes open-aft {
    0% {
        right: 5%;
        transform: scale(.75);
    }
    100% {
        right: -870px;
        transform: rotate(.87turn) scale(1);
    }
}

@keyframes open-bef {
    0% {
        left: 5%;
        transform: scale(.75);
    }
    100% {
        left: -870px;
        transform: rotate(.87turn) scale(1);
    }
}

header>.container {
    font-family: 'Bangers', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    animation: show .5s .5s 1 forwards ease-in-out;
    transform: scale(0);
}

@keyframes show {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

header>.container h1 {
    width: 100%;
    text-align: center;
    font-size: 10rem;
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e2d5dc;
    -webkit-text-stroke: 15px transparent;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 5px #333;
}

header>.container h2 {
    letter-spacing: .5rem;
    text-align: center;
    width: 65%;
    text-shadow: 2px 5px 20px #ffffff99;
    margin-bottom: 3rem;
}

header>.container h2:hover {
    animation: expand 2s infinite linear;
}

@keyframes expand {
    0%, 100% {
        text-shadow: 2px 5px 20px #ffffff99;
        letter-spacing: .5rem;
    }
    35% {
        text-shadow: 4px 5px 50px #ffffff;
        letter-spacing: .6rem;
    }
    75% {
        letter-spacing: .4rem;
    }
}

header>.container p {
    padding: 0.5rem 1rem;
    border-left: 5px solid #f282d9;
    letter-spacing: .3rem;
}

header>.container p a {
    color: #f282d9;
    font-weight: bold;
}

header>.container>a {
    margin-top: 3rem;
    box-shadow: 3px 2px 10px #f282d9, -2px -3px 10px #f282d9;
    padding: .5rem 1rem;
    border-radius: 1rem 0;
    display: flex;
    align-items: center;
    transition: transform .5s ease-in-out;
}

header>.container>a:hover {
    transform: scale(1.03);
    text-decoration: unset;
}

header>.container a svg {
    width: 20px;
    margin-right: .5rem;
}

header>.container a path {
    fill: #f282d9;
}

/* --nav bar start-- */

nav {
    font-family: 'Bangers', cursive;
    background-color: #111;
    box-shadow: 0px -8px 20px #f282d990;
    color: #ddd;
    width: 80vh;
    position: sticky;
    top: 0%;
    left: 100%;
    font-size: 1.5rem;
    transform: rotate(.75turn) translate(-60%, 360px );
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

nav ul li {
    flex-grow: 1;
    padding: 1rem;
    transition: all .2s linear;
}

nav ul li:not(:last-child) {
    border-right: 4px solid #ff60b5;
}

nav ul li:hover {
    box-shadow: 0px -5px 10px #f282d9;
    padding: 1rem 2rem;
}

nav a:hover {
    text-decoration: unset;
}

/* --nav bar end-- */

main {
    width: 80%;
    margin: auto;
    line-height: 3rem;
    position: relative;
}

main h2, #styles .container h2 {
    padding-left: .5rem;
    font-size: 3.5rem;
    font-family: 'Bangers', cursive;
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e2d5dc;
    -webkit-text-stroke: 5px transparent;
    text-shadow: 2px 2px 5px #333;
    margin: 2rem 0;
    position: relative;
    padding: .3rem 1.1rem;
    border-left: 7px solid #ff3886;
    cursor: default;
    transition: transform .5s linear, letter-spacing .5s linear;
}

main h2:hover, #styles .container h2:hover {
    transform: rotate(1deg);
    letter-spacing: .5rem;
}

main h2::after, #styles .container h2:after {
    content: '';
    height: 8px;
    width: 8px;
    background-color: #ff3886;
    position: absolute;
    top: 0;
    left: -0%;
    animation: rot 1s infinite linear;
}

main a {
    color: #f282d9;
}

main p {
    margin-bottom: 2rem;
}

main .container {
    margin: 5rem 0;
}

#about .container blockquote {
    width: 90%;
    max-width: 600px;
    margin: 4rem 0;
    box-shadow: 3px 3px 10px #ffffff50;
}

#about .container blockquote strong {
    padding: .5rem 2rem .5rem 1rem;
    margin-bottom: 1rem;
    display: block;
    border-bottom: 5px solid #ff3886;
    font-family: "Bangers";
    color: #888;
    letter-spacing: .2rem;
    font-size: 2rem;
    animation: glow 3s infinite ease-in-out;
}

@keyframes glow {
    0%, 100% {
        color: #888;
    }
    50% {
        color: #bbb;
        text-shadow: 1px 1px 10px #888;
    }
}

#about .container blockquote p {
    padding: 1rem;
}

#about :last-child {
    margin-bottom: 5rem;
}

#about :last-child ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0 5rem;
}

#about :last-child li, .link-guidelines, #files a {
    border: 3px solid #ff60b5;
    margin: 1rem 0.7rem;
    padding: .5rem 1.2rem;
    border-radius: 1rem 0 1rem 0;
    cursor: default;
    transition: all .3s linear;
}

#about :last-child li:hover, .link-guidelines:hover, #files a:hover , .page-footer li:hover{
    border-radius: 2rem 0 1rem 0;
    box-shadow: 5px 4px 1px #ff60b5;
    text-shadow: 1px 1px 10px #ddd;
}

#guidelines h3 {
    color: #ff60b5;
    text-decoration: underline;
    transform: rotate(1deg);
}

#guidelines p:nth-of-type(2) {
    width: 90%;
    max-width: 600px;
    margin: 1rem 0 3rem;
    padding: 2rem;
    box-shadow: 3px 5px 20px #725f5f50, -2px -2px 10px #ffffff50;
    transform: rotate(1deg);
}

.link-guidelines {
    padding: 1rem;
    color: #ddd;
}

.link-guidelines:hover {
    text-decoration: unset;
}

#contribute :nth-child(2) h3 {
    display: inline;
    text-transform: uppercase;
    border-left: 5px solid #ff60b5;
    box-shadow: -3px 4px 7px #ffffff50;
    padding: 1rem 1.2rem;
    font-size: 2rem;
    border-radius: .5rem;
}

#contribute ol {
    margin: 3rem 4rem;
}

#contribute li::before {
    content: '\2B16';
    color: #ff60b5;
    margin-right: 1rem;
    transform: rotate(3deg);
}

#files .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#files .container h3 {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

#files .container h3::before {
    content: '\1F5C1';
    color: #ff60b5;
    margin-right: 1rem;
}

#files a {
    color: #ddd;
    padding: 1rem 1rem;
    text-decoration: none;
    margin: 0 2rem 4rem;
}

.profile .container, #styles li {
    margin: 8rem auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 5px solid #ff60b5;
    padding: 2rem;
    position: relative;
}

.profile .container::before, .profile .container::after, #styles li::after, #styles li::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    left: -25px;
    background-color: #000;
    overflow: hidden;
    border: 5px solid #ff60b5;
    border-radius: 50%;
}

.profile .container::after, #styles li::after {
    background-color: #fff;
    border: unset;
    transform: scale(.5);
    animation: slide 3s infinite linear;
    border-bottom: 15px solid #ff60b5;
}

@keyframes slide {
    0% {
        transform: rotate(0turn) scale(.5);
    }
    50% {
        transform: rotate(.5turn) scale(.65);
        border-bottom: 15px solid #ff014e;
    }
    100% {
        transform: rotate(1turn) scale(.5);
    }
}

.profile .container h4 {
    font-size: 2.5rem;
    padding-bottom: .8rem;
    border-bottom: 4px solid #ff60b5;
}

.profile .container li {
    margin: 2rem 0;
}

.profile .container a {
    color: #f282d9;
}

#styles .container {
    width: 80%;
    margin: auto;
}

#styles .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#styles .container {
    display: flex;
    flex-direction: column;
    margin-bottom:4rem;
}

#styles li {
    margin: 3rem;
    width: 350px;
    height: 200px;
    border-radius: 1rem 0 1rem 0;
}

#styles li>span {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 0 1rem 0;
}

#styles li>span a {
    color: #f282d9;
    margin-bottom: 2rem;
}

.link-allstyles {
    margin: 3rem auto;
    padding: 1rem 1.5rem;
    border-left:6px solid #ff60b5;
    border-radius:.6rem;
    box-shadow: 3px 3px 10px #ffffff50, 2px 3px 10px #ff60b550;
    transition:all .3s linear;
}

.link-allstyles:hover {
    text-decoration: none;
    transform: scale(1.05);
    box-shadow: 3px 3px 5px #ffffff50, 2px 3px 20px #ff60b590;
}

.page-footer {
    border-top:1px solid #f282d9;
    margin-top: 8rem;
    line-height: 3rem;
}

.page-footer .container{
    display: flex;
    flex-direction: column;
    padding:5rem 8rem 3rem;
    font-size: 2rem;
}

.page-footer .container p{
    margin-bottom: 1rem;
}

.page-footer .container a{
    color: #f282d9;
}

.page-footer svg{
    width: 25px;
    margin-right:.1rem;
}

.page-footer path{
    fill:#f282d9;
}

.page-footer ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0 4rem;
}

.page-footer li{
    margin:2rem 2rem;
    padding:1.2rem 3rem;
    border:3px solid #f282d9;
    border-radius:1rem 0 1rem 0;
    transition:all .25s linear;
    font:  bold  1.8rem "Bangers",cursive;
    letter-spacing: .3rem;
}

.page-footer li:hover a{
    text-decoration: none;
}

.page-footer li:hover{
    text-shadow: unset;
    transform: translate(10px);
}

@media (max-width:1400px) {
    header>.container h1 {
        font-size:9rem;
    }

    header h2{
        font-size:2rem;
    }

    header::before, header::after{
        height: 90vh;
        width: 90vh;
    }
}


@media (max-width:1100px) {
    header::before, header::after{
        height: 85vh;
        width: 85vh;
    }

    header>.container h1 {
        font-size:8rem;
    }
} 

@media (max-width:950px) {
    header::before, header::after{
        height: 80vh;
        width: 80vh;
    }

    header>.container h1 {
        font-size:7rem;
    }
}