@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
    background-color: #000;
    color:#ddd;
}

/* --scroll bar start-- */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to left bottom, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
}
    /* --scroll bar end-- */

.skip-link {
    position: absolute;
    color: #fff;
    display: none;
}

header {
    background-color: #000;
    color: #fff;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none;
}

header::after, header::before {
    content: '';
    position: absolute;
    /* right: -45%; */
    width: 100vh;
    height: 100vh;
    /* transform: rotate(.87turn); */
    border-radius: 1rem;
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
    overflow-y: hidden;
    animation: open-aft 1.2s 1 forwards ease-in-out;
}

header::before {
    /* left: -45%; */
    animation: open-bef 1.2s 1 forwards ease-in-out;
}

@keyframes open-aft {
    0% {
        right: 5%;
        transform: scale(.75);
    }
    100% {
        right: -45%;
        transform: rotate(.87turn) scale(1);
    }
}

@keyframes open-bef {
    0% {
        left: 5%;
        transform: scale(.75);
    }
    100% {
        left: -45%;
        transform: rotate(.87turn) scale(1);
    }
}

header>.container {
    font-family: 'Bangers', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    animation: show .5s .5s 1 forwards ease-in-out;
    transform: scale(0);
}

@keyframes show {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

header>.container h1 {
    width: 100%;
    text-align: center;
    font-size: 10rem;
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e2d5dc;
    -webkit-text-stroke: 15px transparent;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 5px #333;
}

header>.container h2 {
    letter-spacing: .5rem;
    text-align: center;
    width: 65%;
    text-shadow: 2px 5px 20px #ffffff99;
    margin-bottom: 3rem;
}

header>.container h2:hover {
    animation: glow 2s infinite linear;
}

@keyframes glow {
    0%, 100% {
        text-shadow: 2px 5px 20px #ffffff99;
        letter-spacing: .5rem;
    }
    35% {
        text-shadow: 4px 5px 50px #ffffff;
        letter-spacing: .6rem;
    }
    75% {
        letter-spacing: .4rem;
    }
}

header>.container p {
    padding: 0.5rem 1rem;
    border-left: 5px solid #f282d9;
    letter-spacing: .3rem;
}

header>.container p a {
    color: #f282d9;
    font-weight: bold;
}

header>.container>a {
    margin-top: 3rem;
    box-shadow: 3px 2px 10px #f282d9, -2px -3px 10px #f282d9;
    padding: .5rem 1rem;
    border-radius: 1rem 0;
    display: flex;
    align-items: center;
    transition: transform .5s ease-in-out;
}

header>.container>a:hover {
    transform: scale(1.03);
}

header>.container a svg {
    width: 20px;
    margin-right: .5rem;
}

header>.container a path {
    fill: #f282d9;
    stroke:#fff;
    stroke-width: 0;
    transition: stroke-width .5s ease-in-out;
}

header>.container>a:hover path {
    stroke:#fff;
    stroke-width: 3px;
}

/* --nav bar start-- */
nav{
    font-family: 'Bangers', cursive;
    background-color: #111;
    box-shadow: 0px -1px 20px #f282d990;
    color: #fff;
    width: 80vh;
    position: sticky;
    top:0%;
    left:100%;
    font-size:1.5rem;
    transform: rotate(.75turn) translate(-60%,640%);
    /* display:none; */
    z-index: 1;
}

nav ul{
    display:flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

nav ul li{
    list-style:none;
    flex-grow: 1;
    padding:1rem;
}

nav ul li:not(:last-child){
    border-right: 4px solid #ff60b5;
}

nav ul li:hover{
    box-shadow:3px -2px 30px #00000090;
}
nav ul li:hover:not(:last-child){
        border-right: 4px solid #ff60b5;
}

nav a{
    
}
/* --nav bar end-- */

main{
    width: 80%;
    margin:auto;
    font-family: Verdana, sans-serif;
    line-height: 3rem;
    position: relative;
    font-size:1.5rem;
}

main h2{
    padding-left:.5rem;
    font-size:3.5rem;
    font-family: 'Bangers',cursive;
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e2d5dc;
    -webkit-text-stroke: 5px transparent;
    text-shadow: 2px 2px 5px #333;
    margin:2rem 0;
    position: relative;
    padding:.3rem 1.1rem;
    border-left:7px solid #ff3886;
    cursor:default;
    transition:transform .5s linear, letter-spacing .5s linear;
}

main h2:hover{
    transform:rotate(1deg);
    letter-spacing: .5rem;
}

main h2::after{
    content:'';
    height: 16px;
    width: 16px;
    background-color: #ff3886;
    position: absolute;
    top:0;
    left:-1%;
    animation:rot 1s infinite linear;
}

#about .container{
    margin:5rem 0;
}

#about .container blockquote{
   width:600px;
   margin:4rem 0;
   box-shadow: 3px 3px 10px #ffffff50;
}

#about .container blockquote strong{
    padding:.5rem 2rem .5rem 1rem;
    margin-bottom: 1rem;
    display: block;
    border-bottom:5px solid #ff3886;
    font-family: "Bangers";
    color:#888;
    letter-spacing: .2rem;
    font-size:2rem;
}

#about .container blockquote p{
    padding:1rem;
}


